
.dark {
    background: dimgrey;
}

.darkText {
    color: #fffefe;
}

.red {
    background: #fc5747;
}

.redText {
    color: #490106;
}

.some {
    background: #f4ff03;
}

.someText {
    color: #0a4903;
}

.title {
    padding: 10px;
}